div.main{ 
    width: 100%;
}
div.main > div{ 
    float: left; width: 100px; background-color: lightgrey; border: solid grey 1px; border-radius: 6px; position: relative; cursor: pointer 
}
div.days {
     width: 100px; display: none 
}
div.days > div{
    background-color: lightgrey; border: solid grey 1px; border-radius: 6px; cursor: pointer 
}
div.main > div:hover div.days{
    display: block; position: absolute; top: 90%; z-index: 1 
}

@media all and (max-width: 628px){
    div.main > div { float: none; width: 100px; background-color: lightgrey; border: solid grey 1px; border-radius: 6px; position: relative; cursor: pointer }
    div.main > div:hover div.days { display: block; position: absolute; left: 80%; top: 90%; z-index: 1 }
}